---
name: Pre Merge Checks

#Prevent default write-all access - this was pointed out by this checkov check CKV2_GHA_1
permissions:
  contents: read
  actions: read
  security-events: write

on:
  push:
    branches-ignore:
      - main
  pull_request:

defaults:
  run:
    shell: bash

jobs:
  tflint:
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout Repo"
        uses: actions/checkout@v6
      - name: Run "TF Lint"
        uses: govuk-one-login/org-github-actions/tflint@v1
        with:
          terraform_dir: .

  checkov:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Run Checkov
        uses: govuk-one-login/org-github-actions/checkov@v1
        with:
          working_directory: .

  terraform-validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Terraform Validate
        uses: govuk-one-login/org-github-actions/terraform-validate@v1
        with:
          terraform_dir: .

